
$comein: come-in 0.8s ease forwards;
$move-down: translateY(150px);
$animation-duration: 0.6s;

@mixin animation-comein {
    -webkit-animation: $comein;
    -ms-animation: $comein;
    animation: $comein;
}
@mixin move-down {
    -webkit-transform: $move-down;
    -ms-transform: $move-down;
    transform: $move-down;
}
@mixin rm-move-down {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
@mixin animation-none {
    -webkit-animation: none;
    -ms-animation: none;
    animation: none;
    @include rm-move-down;
}
@mixin animation-duration {
    -webkit-animation-duration: $animation-duration; 
    animation-duration: $animation-duration; 
}

.come-in { @include move-down; @include animation-comein; }
.come-in:nth-child(odd) { @include animation-duration; }
.already-visible { @include animation-none; }

@-webkit-keyframes come-in { to { @include rm-move-down; } }
@keyframes         come-in { to { @include rm-move-down; } }



