/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 18, 2014, 2:58:55 PM
    Author     : jpaaso
*/

body { padding-bottom: 20px; }
.header { padding: 20px; }
.row { min-height: 1200px; }

